
body {
    background: #317dce;
    font-family: Arial;
    padding:20px;
}

.container{
    max-width: 700px;
    margin: auto; 
    background: #ffffff;
    padding: 20px; 
    border-radius: 10px;
    border: 3px solid #0066cc;
}

h1{
    text-align: center;
    color: #036;
}

.section{
    margin-top: 15px;
}

input{
    padding:8px;
    width:200px;
}

button {
    padding:10px 20px;
    margin-left:5px;
    background: #0099ff;
    border:none;
    color:white;
    cursor:pointer;
    border-radius:5px;

}

button:hover {
    background: #007ACC;
}

.box{
    margin-top: 15px;
    padding:15px;
    background:#f4f4f4;
    border-radius:8px;
    border: 2px solid#999;
    min-height:60px;
}

.images{
    display: flex;
    flex-wrap:wrap;
    gap:10px;
    margin-top: 25px;
}

.images img {
    border-radius: 10px;
    border: 3px solid #ff6600;
}